Repository lasuillard/raindrop-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, prettier, eslint, typescript, vitest

.pre-commit-config.yaml:

exclude: |
  (?x)(
    \.snap$
  )
default_stages: [commit]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: generate
        name: Generate stubs and codes
        language: system
        files: openapi.yaml
        pass_filenames: false
        entry: make generate

      - id: prettier
        name: Format with Prettier
        language: system
        types_or: [javascript, ts, json, yaml]
        entry: pnpm exec prettier
        args: [--write]

      - id: eslint
        name: Lint with ESLint
        language: system
        types_or: [javascript, ts]
        entry: pnpm exec eslint
        args: [--fix]

      - id: typescript
        name: Type check with TypeScript
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: pnpm exec tsc
        args: [--noEmit]

      - id: checkov
        name: Scan using Checkov
        language: system
        types: [file]
        entry: checkov
        args: [-f]

      - id: vitest
        name: Run tests with Vitest
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: pnpm run test

test: Prevent Axios throwing on 4XX and 5XX
  tests/_helpers.ts
Due: prettier, eslint, typescript, vitest

style: Adjust debug message format
  tests/_type_testing.ts
Due: prettier, eslint, typescript, vitest

test: Skip failing test for later rewrite
  tests/client/raindrop.test.ts
Due: prettier, eslint, typescript, vitest

ci: Update dependabot.yaml
  .github/dependabot.yaml
Due: prettier

chore(deps-dev): Install Biome
  biome.jsonc
  package.json
  yarn.lock
Due: prettier

style!: Reformat all with Biome
  .devcontainer/devcontainer.json
  .eslintignore
  .eslintrc
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  biome.jsonc
  package.json
  src/client/auth.ts
  src/client/client.ts
  src/client/collection.ts
  src/client/index.ts
  src/client/raindrop.ts
  src/index.ts
  src/utils/index.ts
  src/utils/tree.ts
  vite.config.ts
Due: prettier, eslint, typescript, vitest

Migrate linter / formatter to Biome.js (#44)
  .devcontainer/devcontainer.json
  .eslintignore
  .eslintrc
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  Makefile
  biome.jsonc
  package.json
  src/client/auth.ts
  src/client/client.ts
  src/client/collection.ts
  src/client/index.ts
  src/client/raindrop.ts
  src/index.ts
  src/utils/index.ts
  src/utils/tree.ts
  vite.config.ts
  yarn.lock
Due: prettier, eslint, typescript, vitest

test: Fix broken tests, adding new attribute `ai_suggestions`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/106385818_0_1288920917/recording.har
  tests/__recordings__/991325255_0_1058652062/recording.har
  tests/__recordings__/991325255_1_1075429681/recording.har
  tests/__recordings__/991325255_2_1025096824/recording.har
  tests/generated/collection.test.ts
  tests/generated/user.test.ts
Due: generate, prettier, eslint, typescript, vitest

chore: Move test helpers to directory
  .gitignore
  Makefile
  tests/_helpers.ts
  tests/_helpers/axios.ts
  tests/_helpers/polly.ts
  tests/_helpers/typechecks.ts
  tests/_helpers/vitest.ts
  tests/client/auth.test.ts
  tests/client/client.test.ts
  tests/client/collection.test.ts
  tests/client/raindrop.test.ts
  tests/generated/auth.test.ts
  tests/generated/collection.test.ts
  tests/generated/filter.test.ts
  tests/generated/highlight.test.ts
  tests/generated/import.test.ts
  tests/generated/raindrop.test.ts
  tests/generated/tag.test.ts
  tests/generated/user.test.ts
  tests/setup.ts
  tests/utils/tree.test.ts
Due: prettier, eslint, typescript, vitest

test: Add `resetData` fixture to cleanup test account data
  tests/_helpers/raindrop.ts
  tests/_helpers/vitest.ts
Due: prettier, eslint, typescript, vitest

test: Test `collection.getChildCollections()`
  tests/__recordings__/991325255_3_1041874443/recording.har
  tests/generated/collection.test.ts
Due: prettier, eslint, typescript, vitest

test: Apply rate limit for Axios test client
  package.json
  tests/_helpers/axios.ts
  yarn.lock
Due: prettier, eslint, typescript, vitest

test: Autouse `resetData` fixture
  tests/_helpers/vitest.ts
  tests/generated/collection.test.ts
Due: prettier, eslint, typescript, vitest

test: Refactor collection tests for better organization and readability
  tests/generated/collection.test.ts
Due: prettier, eslint, typescript, vitest

test: Add test for `collection.getCollection`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/991325255_4_1125762538/recording.har
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest

Revert "test: Autouse `resetData` fixture"
  tests/_helpers/vitest.ts
  tests/generated/collection.test.ts
Due: prettier, eslint, typescript, vitest

revert: Do not reset data for `getChildCollections` test
  tests/generated/collection.test.ts
Due: prettier, eslint, typescript, vitest

test: Update collection test for `updateCollection`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/991325255_5_1142540157/recording.har
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Write test for `collection.removeCollection`
  tests/__recordings__/991325255_6_1092207300/recording.har
  tests/generated/collection.test.ts
Due: prettier, eslint, typescript, vitest

chore(openapi): Remove examples
  openapi.yaml
Due: generate, prettier

test: Add test for `createCollection`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/991325255_7_1108984919/recording.har
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Write test for `uploadCollectionCover()`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/991325255_8_924431110/recording.har
  tests/generated/collection.test.ts
  tests/generated/cover.png
Due: generate, prettier, eslint, typescript, vitest

test: Refactor test setup and OpenAPI schema, etc.
  Makefile
  openapi.yaml
  package.json
  src/client/collection.ts
  src/generated/api.ts
  tests/__recordings__/991325255_0_1058652062/recording.har
  tests/__recordings__/991325255_1_1075429681/recording.har
  tests/__recordings__/991325255_6_1092207300/recording.har
  tests/__recordings__/991325255_7_1108984919/recording.har
  tests/__recordings__/createCollection_2947514473/recording.har
  tests/__recordings__/getChildCollections_1921811740/recording.har
  tests/__recordings__/getCollection_769046135/recording.har
  tests/__recordings__/getCurrentUser_1602062699/recording.har
  tests/__recordings__/getRootCollections_947621568/recording.har
  tests/__recordings__/removeCollection_4263968713/recording.har
  tests/__recordings__/removeCollections_3513029070/recording.har
  tests/__recordings__/reorderAllCollections_3156204112/recording.har
  tests/__recordings__/updateCollection_2942913944/recording.har
  tests/_helpers/polly.ts
  tests/_helpers/typechecks.ts
  tests/generated/collection.test.ts
  tests/generated/user.test.ts
  vite.config.ts
Due: generate, prettier, eslint, typescript, vitest

test: Fix some wrong schema and refactor tests
  Makefile
  openapi.yaml
  package.json
  src/generated/api.ts
  tests/__recordings__/getCollection_769046135/recording.har
  tests/__recordings__/removeCollection_4263968713/recording.har
  tests/__recordings__/updateCollection_2942913944/recording.har
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Checkout generated type tests
  .gitignore
  tests/__typechecks__/createCollection.test-d.ts
  tests/__typechecks__/getChildCollections.test-d.ts
  tests/__typechecks__/getCollection.test-d.ts
  tests/__typechecks__/getCurrentUser.test-d.ts
  tests/__typechecks__/getRootCollections.test-d.ts
  tests/__typechecks__/removeCollection.test-d.ts
  tests/__typechecks__/removeCollections.test-d.ts
  tests/__typechecks__/reorderAllCollections.test-d.ts
  tests/__typechecks__/updateCollection.test-d.ts
  tests/_helpers/typechecks.ts
Due: prettier, eslint, typescript, vitest

test: Test `mergeCollections`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/mergeCollections_126430972/recording.har
  tests/__typechecks__/mergeCollections.test-d.ts
  tests/_helpers/axios.ts
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest

fix: Test flakiness
  tests/__recordings__/createCollection_2947514473/recording.har
  tests/__recordings__/getChildCollections_1921811740/recording.har
  tests/__recordings__/getCollection_769046135/recording.har
  tests/__recordings__/getCurrentUser_1602062699/recording.har
  tests/__recordings__/getRootCollections_947621568/recording.har
  tests/__recordings__/mergeCollections_126430972/recording.har
  tests/__recordings__/removeCollection_4263968713/recording.har
  tests/__recordings__/removeCollections_3513029070/recording.har
  tests/__recordings__/reorderAllCollections_3156204112/recording.har
  tests/__recordings__/updateCollection_2942913944/recording.har
  tests/__typechecks__/createCollection.test-d.ts
  tests/__typechecks__/getChildCollections.test-d.ts
  tests/__typechecks__/getCollection.test-d.ts
  tests/__typechecks__/getCurrentUser.test-d.ts
  tests/__typechecks__/getRootCollections.test-d.ts
  tests/__typechecks__/mergeCollections.test-d.ts
  tests/__typechecks__/removeCollections.test-d.ts
  tests/__typechecks__/updateCollection.test-d.ts
  tests/generated/collection.test.ts
  tests/generated/user.test.ts
  vite.config.ts
Due: prettier, eslint, typescript, vitest

test: Reset data only if needed
  tests/__recordings__/createCollection_2947514473/recording.har
  tests/__recordings__/getChildCollections_1921811740/recording.har
  tests/__recordings__/getCollection_769046135/recording.har
  tests/__recordings__/getCurrentUser_1602062699/recording.har
  tests/__recordings__/getRootCollections_947621568/recording.har
  tests/__recordings__/mergeCollections_126430972/recording.har
  tests/__recordings__/removeCollection_4263968713/recording.har
  tests/__recordings__/removeCollections_3513029070/recording.har
  tests/__recordings__/reorderAllCollections_3156204112/recording.har
  tests/__recordings__/updateCollection_2942913944/recording.har
  tests/__typechecks__/createCollection.test-d.ts
  tests/__typechecks__/getChildCollections.test-d.ts
  tests/__typechecks__/getCollection.test-d.ts
  tests/__typechecks__/getCurrentUser.test-d.ts
  tests/__typechecks__/getRootCollections.test-d.ts
  tests/__typechecks__/mergeCollections.test-d.ts
  tests/__typechecks__/removeCollections.test-d.ts
  tests/__typechecks__/updateCollection.test-d.ts
  tests/generated/collection.test.ts
  tests/generated/user.test.ts
Due: prettier, eslint, typescript, vitest

test: Write test for `removeAllEmptyCollections`, `emptyTrash`, `getSystemCollectionStats`, `getFeaturedCovers`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/emptyTrash_4049027924/recording.har
  tests/__recordings__/getFeaturedCovers_3814482193/recording.har
  tests/__recordings__/getSystemCollectionStats_2514192757/recording.har
  tests/__recordings__/removeAllEmptyCollections_369112494/recording.har
  tests/__typechecks__/emptyTrash.test-d.ts
  tests/__typechecks__/getFeaturedCovers.test-d.ts
  tests/__typechecks__/getSystemCollectionStats.test-d.ts
  tests/__typechecks__/removeAllEmptyCollections.test-d.ts
  tests/generated/__snapshots__/collection.test.ts.snap
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Test `searchCovers`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/searchCovers_697654485/recording.har
  tests/__typechecks__/searchCovers.test-d.ts
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Test `getFilters`, `getAllHighlights`, `getHighlightsInCollection`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/getAllHighlights_1214248135/recording.har
  tests/__recordings__/getFilters_3013220102/recording.har
  tests/__recordings__/getHighlightsInCollection_4206324633/recording.har
  tests/__typechecks__/getAllHighlights.test-d.ts
  tests/__typechecks__/getFilters.test-d.ts
  tests/__typechecks__/getHighlightsInCollection.test-d.ts
  tests/generated/_helpers.ts
  tests/generated/collection.test.ts
  tests/generated/filter.test.ts
  tests/generated/highlight.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Test `createRaindrop`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/createRaindrop_2141395922/recording.har
  tests/__typechecks__/createRaindrop.test-d.ts
  tests/generated/_helpers.ts
  tests/generated/raindrop.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Add test data for `getFilters`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/getFilters_3013220102/recording.har
  tests/__recordings__/getRootCollections_947621568/recording.har
  tests/__typechecks__/getFilters.test-d.ts
  tests/_helpers/raindrop.ts
  tests/generated/_helpers.ts
  tests/generated/filter.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Test data for highlights
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/getAllHighlights_1214248135/recording.har
  tests/__recordings__/getHighlightsInCollection_4206324633/recording.har
  tests/__typechecks__/createRaindrop.test-d.ts
  tests/__typechecks__/getAllHighlights.test-d.ts
  tests/__typechecks__/getHighlightsInCollection.test-d.ts
  tests/generated/_helpers.ts
  tests/generated/highlight.test.ts
  tests/generated/raindrop.test.ts
  tests/generated/user.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Add test for `getTagsInCollection`, `renameOrMergeTags`, `removeTagsFromCollection`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/getTagsInCollection_2796442817/recording.har
  tests/__recordings__/removeTagsFromCollection_2879641796/recording.har
  tests/__recordings__/renameOrMergeTags_918503747/recording.har
  tests/__typechecks__/getTagsInCollection.test-d.ts
  tests/__typechecks__/removeTagsFromCollection.test-d.ts
  tests/__typechecks__/renameOrMergeTags.test-d.ts
  tests/generated/tag.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Add test for `shareCollection`, skip untestable APIs
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/shareCollection_2704098932/recording.har
  tests/__typechecks__/shareCollection.test-d.ts
  tests/generated/auth.test.ts
  tests/generated/collection.test.ts
  tests/generated/user.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Add test for `getRaindrop`, reinforcing test for `createRaindrop` with `media` args
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/createRaindrop_2141395922/recording.har
  tests/__recordings__/getRaindrop_1858124524/recording.har
  tests/__typechecks__/createRaindrop.test-d.ts
  tests/__typechecks__/getRaindrop.test-d.ts
  tests/generated/raindrop.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Test `parseURL`, `checkURLsExist`, `importHTMLBookmarkFile`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/checkURLsExist_609977656/recording.har
  tests/__recordings__/importHTMLBookmarkFile_1232788811/recording.har
  tests/__recordings__/parseURL_665549573/recording.har
  tests/__typechecks__/checkURLsExist.test-d.ts
  tests/__typechecks__/importHTMLBookmarkFile.test-d.ts
  tests/__typechecks__/parseURL.test-d.ts
  tests/generated/chrome-bookmarks.html
  tests/generated/import.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Update `getCurrentUser`, add test for `updateCurrentUser`, `getPublicUserByName`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/getPublicUserByName_2060571679/recording.har
  tests/__recordings__/updateCurrentUser_4249824510/recording.har
  tests/__typechecks__/getCurrentUser.test-d.ts
  tests/__typechecks__/getPublicUserByName.test-d.ts
  tests/__typechecks__/updateCurrentUser.test-d.ts
  tests/generated/user.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: `getRaindrops`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/getRaindrops_4167419981/recording.har
  tests/__typechecks__/getRaindrops.test-d.ts
  tests/generated/raindrop.test.ts
Due: generate, prettier, eslint, typescript, vitest
