Repository lasuillard/raindrop-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, biome, typescript, vitest

generate:
  name: Generate stubs and codes
  language: system
  pass_filenames: false
  entry: make generate

biome:
  name: Fix with Biome
  language: system
  entry: yarn run biome check
  args:
  - --write

typescript:
  name: Type check with TypeScript
  language: system
  pass_filenames: false
  entry: yarn run tsc
  args:
  - --noEmit

vitest:
  name: Run tests with Vitest
  language: system
  pass_filenames: false
  entry: yarn run test

test: Update test name generation rule to support test suites
  package.json
  tests/_helpers/common.ts
  tests/_helpers/polly.ts
  tests/_helpers/typechecks.ts
  yarn.lock
Due: biome, typescript, vitest

test: Write tests for all remaining, testable APIs
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/createRaindrops_2395242099/recording.har
  tests/__recordings__/removeRaindrop_479630642/recording.har
  tests/__recordings__/removeRaindrops_1108145491/recording.har
  tests/__recordings__/updateRaindrop_1784336335/recording.har
  tests/__recordings__/updateRaindrops_687146228/recording.har
  tests/__typechecks__/createRaindrops.test-d.ts
  tests/__typechecks__/removeRaindrop.test-d.ts
  tests/__typechecks__/removeRaindrops.test-d.ts
  tests/__typechecks__/updateRaindrop.test-d.ts
  tests/__typechecks__/updateRaindrops.test-d.ts
  tests/generated/raindrop.test.ts
Due: generate, biome, typescript, vitest

test: Rewrite tests for extra utils
  src/client/collection.ts
  tests/__recordings__/collection-getCollectionTree-build-tree-from-groups-and-collections_1641142175/recording.har
  tests/__recordings__/raindrop-getAllRaindrops-fetch-full-pagination-results_1826968198/recording.har
  tests/client/auth.test.ts
  tests/client/collection.test.ts
  tests/client/raindrop.test.ts
  tests/fixtures/collections-childrens.json
  tests/fixtures/collections.json
  tests/fixtures/raindrops.json
  tests/fixtures/token.json
  tests/generated/auth.test.ts
Due: biome, typescript, vitest

refactor: Wrap setup utils as fixture
  tests/_helpers/raindrop.ts
  tests/_helpers/vitest.ts
  tests/client/collection.test.ts
  tests/client/raindrop.test.ts
  tests/generated/_helpers.ts
  tests/generated/collection.test.ts
  tests/generated/filter.test.ts
  tests/generated/highlight.test.ts
  tests/generated/import.test.ts
  tests/generated/raindrop.test.ts
  tests/generated/tag.test.ts
Due: biome, typescript, vitest

fix: File uploading APIs recording keep changes
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/importHTMLBookmarkFile_1232788811/recording.har
  tests/__recordings__/uploadCollectionCover_465244107/recording.har
  tests/__recordings__/uploadFile_352009450/recording.har
  tests/__recordings__/uploadRaindropCover_2069052526/recording.har
  tests/__typechecks__/uploadCollectionCover.test-d.ts
  tests/__typechecks__/uploadFile.test-d.ts
  tests/__typechecks__/uploadRaindropCover.test-d.ts
  tests/generated/collection.test.ts
  tests/generated/import.test.ts
  tests/generated/raindrop.test.ts
Due: generate, biome, typescript, vitest

ci: Run CI on push to main
  .github/workflows/ci.yaml
Due: biome

fix: Wait for formatter job finish after type tests generated
  tests/_helpers/typechecks.ts
  tests/setup.ts
Due: biome, typescript, vitest

feat: v0.5.0
  package.json
Due: biome

refactor: Tidy up OpenAPI schema
  openapi.yaml
  src/client/raindrop.ts
  src/generated/api.ts
  tests/__typechecks__/getCurrentUser.test-d.ts
  tests/generated/user.test.ts
Due: generate, biome, typescript, vitest

fix: Unwanted files (`.vscode/`) included in published package
  .npmignore
Due: none

fix: Build output not included in release
  .github/workflows/release.yaml
Due: biome

feat: v0.5.1
  package.json
Due: biome

ci: Attach build output to release as archive
  .github/workflows/release.yaml
Due: biome

Refactor OpenAPI schema file (#50)
  openapi.yaml
  src/client/raindrop.ts
  src/generated/api.ts
  tests/__typechecks__/getCurrentUser.test-d.ts
  tests/generated/user.test.ts
Due: generate, biome, typescript, vitest

feat: v0.5.2
  package.json
Due: biome

ci: Release not triggering docs
  .github/workflows/docs.yaml
Due: biome

ci: Test results & bundle analysis
  .github/workflows/ci.yaml
  .gitignore
  package.json
  vite.config.ts
  yarn.lock
Due: biome, typescript, vitest

chore(vscode): Update workspace dictionary
  .vscode/settings.json
Due: biome

ci: Fix typecheck overwrites unittest report
  .github/workflows/ci.yaml
  .gitignore
  package.json
  vite.config.ts
Due: biome, typescript, vitest

Codecov CI (#52)
  .github/workflows/ci.yaml
  .gitignore
  .vscode/settings.json
  package.json
  vite.config.ts
  yarn.lock
Due: biome, typescript, vitest

fix: Exclude user-agent header from request matching
  tests/_helpers/polly.ts
Due: biome, typescript, vitest

chore: Exclude re-export index files from coverage
  src/index.ts
  src/utils/index.ts
Due: biome, typescript, vitest

build: Exclude generated files from code coverage
  vite.config.ts
Due: biome, typescript, vitest

chore: Bump deps
  yarn.lock
Due: none

fix: Rename file vite.config.ts to vite.config.mts
  vite.config.mts
Due: biome, typescript, vitest

chore(devcontainer): Update `onCreateCommand.sh`
  .devcontainer/onCreateCommand.sh
Due: none

chore(devcontainer): Remove redundant files
  .devcontainer/devcontainer.json
  .devcontainer/onCreateCommand.sh
Due: biome

feat: v0.5.3
  package.json
Due: biome

chore: Add target for test refresh
  Makefile
Due: none

chore(devcontainer): Unable to install java feature
  .devcontainer/devcontainer.json
Due: biome

test: Remove user agent header from recordings
  tests/_helpers/polly.ts
Due: biome, typescript, vitest

test: Redact possibly sensitive data (newly added)
  tests/_helpers/axios.ts
Due: biome, typescript, vitest

ci(pre-commit): Disable autofix
  .pre-commit-config.yaml
Due: biome

ci: Provide API token for CI
  .github/workflows/ci.yaml
Due: biome

ci: Wrong place
  .github/workflows/ci.yaml
Due: biome

Path conditions:
  generate: any of: openapi.yaml, but not: (?x)(
  \.snap$
  | src/generated
)

  biome: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$, but not: (?x)(
  \.snap$
  | src/generated
)

  typescript: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, but not: (?x)(
  \.snap$
  | src/generated
)

  vitest: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, but not: (?x)(
  \.snap$
  | src/generated
)

