Repository lasuillard/raindrop-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, prettier, eslint, typescript, vitest

generate:
  name: Generate stubs and codes
  language: system
  pass_filenames: false
  entry: make generate

prettier:
  name: Format with Prettier
  language: system
  entry: pnpm exec prettier
  args:
  - --write

eslint:
  name: Lint with ESLint
  language: system
  entry: pnpm exec eslint
  args:
  - --fix

typescript:
  name: Type check with TypeScript
  language: system
  pass_filenames: false
  entry: pnpm exec tsc
  args:
  - --noEmit

vitest:
  name: Run tests with Vitest
  language: system
  pass_filenames: false
  entry: pnpm run test

feat: Extend auth API
  openapi.yaml
  src/auth.ts
  src/generated/api.ts
  tests/fixtures/token.json
Due: generate, prettier, eslint, typescript, vitest

feat: Forgot to replace with extended API
  src/client.ts
Due: prettier, eslint, typescript, vitest

feat: Extend raindrop API
  openapi.yaml
  src/client.ts
  src/generated/api.ts
  src/raindrop.ts
  tests/fixtures/raindrops.json
Due: generate, prettier, eslint, typescript, vitest

docs: Update OpenAPI description
  openapi.yaml
  src/generated/api.ts
  src/generated/base.ts
  src/generated/common.ts
  src/generated/configuration.ts
  src/generated/index.ts
Due: generate, prettier, eslint, typescript, vitest

feat: Extend collection API
  src/collection.ts
  src/tree.ts
  tests/fixtures/collections-childrens.json
  tests/fixtures/collections.json
Due: prettier, eslint, typescript, vitest

chore: Arrange codes
  src/auth.ts
  src/raindrop.ts
  src/tree.ts
Due: prettier, eslint, typescript, vitest

feat: Forgot to use extended collection API
  src/client.ts
Due: prettier, eslint, typescript, vitest

Structured API wrapper (#8)
  openapi.yaml
  package.json
  pnpm-lock.yaml
  src/auth.ts
  src/client.ts
  src/collection.ts
  src/generated/api.ts
  src/generated/base.ts
  src/generated/common.ts
  src/generated/configuration.ts
  src/generated/index.ts
  src/index.ts
  src/raindrop.ts
  src/tree.ts
  tests/fixtures/collections-childrens.json
  tests/fixtures/collections.json
  tests/fixtures/raindrops.json
  tests/fixtures/token.json
Due: generate, prettier, eslint, typescript, vitest

build(deps-dev): Add **typedoc**
  .gitignore
  Makefile
  package.json
  pnpm-lock.yaml
Due: prettier

ci: Update `ci.yml` for publishing docs
  .github/workflows/ci.yml
Due: prettier

test: Directory `tests/` not included in unittest
  package.json
Due: prettier

chore: Prefer `.yaml` suffix
  .github/dependabot.yaml
  .github/workflows/ci.yaml
Due: prettier

build(deps): Bump deps
  package.json
  pnpm-lock.yaml
Due: prettier

ci: Concurrency group for pages
  .github/workflows/ci.yaml
Due: prettier

Generate API documents (#10)
  .github/workflows/ci.yaml
  .gitignore
  Makefile
  package.json
  pnpm-lock.yaml
Due: prettier

feat: v0.3.0
  package.json
Due: prettier

chore: Update `README.md`
  README.md
Due: none

docs: Update `README.md`
  README.md
Due: none

refactor: Update types and docstrings
  src/auth.ts
Due: prettier, eslint, typescript, vitest

chore: Ignore linting & formatting docs
  .eslintignore
  .prettierignore
Due: none

feat: Expose tree module
  src/index.ts
Due: prettier, eslint, typescript, vitest

feat!: Restructure module
  src/client/auth.ts
  src/client/client.ts
  src/client/collection.ts
  src/client/index.ts
  src/client/raindrop.ts
  src/index.ts
  src/utils/index.ts
  src/utils/tree.ts
Due: prettier, eslint, typescript, vitest

test: Fix test file discovery
  vite.config.ts
Due: prettier, eslint, typescript, vitest

refactor: Refactor imports with path aliases
  package.json
  pnpm-lock.yaml
  src/client/auth.ts
  src/client/client.ts
  src/client/collection.ts
  src/client/raindrop.ts
  tsconfig.json
  vite.config.ts
Due: prettier, eslint, typescript, vitest

feat: v0.4.0
  package.json
Due: prettier

ci: Run build when running E2E tests
  .github/workflows/ci.yaml
Due: prettier

fix: Update `tsconfig.json`
  tsconfig.json
Due: prettier

[skip ci] feat: v0.4.1
  package.json
Due: prettier

Fix build failure (#14)
  .github/workflows/ci.yaml
  package.json
  tsconfig.json
Due: prettier

feat: Force release v0.4.0
  package.json
Due: prettier

docs: Add license badge
  README.md
Due: none

chore(vscode): Update settings
  .vscode/settings.json
Due: prettier

fix: Regex not escaped properly
  src/client/raindrop.ts
Due: prettier, eslint, typescript, vitest

ci(pre-commit): Skip Checkov run
  .pre-commit-config.yaml
Due: prettier

chore(workspace): Lose workspace weight
  .checkov.yaml
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.override.yaml
  .devcontainer/initializeCommand.sh
  .devcontainer/onCreateCommand.sh
  .devcontainer/postAttachCommand.sh
  .devcontainer/postCreateCommand.sh
  .devcontainer/postStartCommand.sh
  .devcontainer/updateContentCommand.sh
  .dockerignore
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  .vscode/settings.json
  Dockerfile
  Makefile
  docker-compose.override.yaml
  docker-compose.yaml
  e2e/do-something.test.ts
  package.json
  pnpm-lock.yaml
  requirements.txt
  vite.config.ts
Due: prettier, eslint, typescript, vitest

ci: Fix wrong build command
  .github/workflows/docs.yaml
Due: prettier

ci: Rename CI step name
  .github/workflows/ci.yaml
Due: prettier

build: Migrate package manager to Yarn
  .devcontainer/devcontainer.json
  .devcontainer/postAttachCommand.sh
  .devcontainer/postCreateCommand.sh
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  Makefile
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier

Path conditions:
  generate: any of: openapi.yaml, but not: (?x)(
  \.snap$
)

  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(yaml|yml)$, but not: (?x)(
  \.snap$
)

  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, but not: (?x)(
  \.snap$
)

  typescript: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, but not: (?x)(
  \.snap$
)

  vitest: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, but not: (?x)(
  \.snap$
)

