Repository lasuillard/raindrop-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, prettier, eslint, typescript, vitest

.pre-commit-config.yaml:

exclude: |
  (?x)(
    \.snap$
  )
default_stages: [commit]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: generate
        name: Generate stubs and codes
        language: system
        files: openapi.yaml
        pass_filenames: false
        entry: make generate

      - id: prettier
        name: Format with Prettier
        language: system
        types_or: [javascript, ts, json, yaml]
        entry: pnpm exec prettier
        args: [--write]

      - id: eslint
        name: Lint with ESLint
        language: system
        types_or: [javascript, ts]
        entry: pnpm exec eslint
        args: [--fix]

      - id: typescript
        name: Type check with TypeScript
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: pnpm exec tsc
        args: [--noEmit]

      - id: checkov
        name: Scan using Checkov
        language: system
        types: [file]
        entry: checkov
        args: [-f]

      - id: vitest
        name: Run tests with Vitest
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: pnpm run test

docs: Update Codecov badge
  README.md
Due: none

ci: Release job
  .github/workflows/ci.yml
Due: prettier

ci: Forgot to skip release
  .github/workflows/ci.yml
Due: prettier

ci: Revert mock codes for merge ready
  .github/workflows/ci.yml
Due: prettier

chore: Licensing to MIT
  LICENSE
  package.json
Due: prettier

ci: Update workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yaml
  package.json
Due: prettier

Publish to GitHub Packages (#2)
  .github/workflows/ci.yml
  .github/workflows/publish.yaml
  package.json
Due: prettier

ci: Update `publish.yaml`
  .github/workflows/publish.yaml
Due: prettier

ci: Update publish config
  .github/workflows/publish.yaml
  package.json
Due: prettier

chore: Update `publish.yaml`
  .github/workflows/publish.yaml
Due: prettier

ci: Fix publish not triggered on release
  .github/workflows/ci.yml
Due: prettier

ci: Merge workflow files
  .github/workflows/ci.yml
  .github/workflows/publish.yaml
Due: prettier

ci: Fix failing when publishing from tag
  .github/workflows/ci.yml
Due: prettier

ci: Specify registry URL
  .github/workflows/ci.yml
  package.json
Due: prettier

ci: Specify registry URL
  .github/workflows/ci.yml
Due: prettier

build: Scoped package name
  package.json
Due: prettier

build: Update bundler config
  package.json
  vite.config.ts
Due: prettier, eslint, typescript, vitest

feat: Bump version to v0.1.1
  package.json
Due: prettier

feat: Generate client code
  package.json
  src/generated/Client.ts
  src/generated/core/AxiosHttpRequest.ts
  src/generated/core/BaseHttpRequest.ts
  src/generated/index.ts
  src/generated/services/AuthenticationService.ts
  src/generated/services/CollectionService.ts
  src/generated/services/FilterService.ts
  src/generated/services/HighlightService.ts
  src/generated/services/ImportService.ts
  src/generated/services/RaindropService.ts
  src/generated/services/TagService.ts
  src/generated/services/UserService.ts
  src/index.ts
Due: prettier, eslint, typescript, vitest

build: Update bundler config
  vite.config.ts
Due: prettier, eslint, typescript, vitest

feat: Bump to v0.1.2
  package.json
Due: prettier

ci: Check generated code is up to date
  .github/workflows/ci.yml
Due: prettier

chore: Update `package.json`
  package.json
Due: prettier

feat: Update docs
  openapi.yaml
Due: generate, prettier

feat: Update operation IDs
  .vscode/settings.json
  openapi.yaml
  src/generated/models/UserConfig.ts
  src/generated/services/AuthenticationService.ts
  src/generated/services/CollectionService.ts
  src/generated/services/FilterService.ts
  src/generated/services/HighlightService.ts
  src/generated/services/ImportService.ts
  src/generated/services/RaindropService.ts
  src/generated/services/TagService.ts
  src/generated/services/UserService.ts
Due: generate, prettier, eslint, typescript, vitest

feat: Update schemas
  openapi.yaml
  src/generated/index.ts
  src/generated/models/Collection.ts
  src/generated/models/CollectionMultiResponse.ts
  src/generated/models/CollectionRef.ts
  src/generated/models/CollectionResponseMany.ts
  src/generated/models/CollectionResponseOne.ts
  src/generated/models/CreateCollection.ts
  src/generated/models/ErrorResponse.ts
  src/generated/models/Parent.ts
  src/generated/models/RaindropMultiResponse.ts
  src/generated/models/RaindropResponseMany.ts
  src/generated/models/RaindropResponseOne.ts
  src/generated/services/AuthenticationService.ts
  src/generated/services/CollectionService.ts
  src/generated/services/HighlightService.ts
  src/generated/services/RaindropService.ts
  src/generated/services/TagService.ts
Due: generate, prettier, eslint, typescript, vitest

feat: Re-export whole generated source
  src/index.ts
Due: prettier, eslint, typescript, vitest

chore(workspace): Update `docker-compose.yaml`
  docker-compose.yaml
Due: prettier

fix: Update auth endpoints path
  openapi.yaml
  src/generated/services/AuthenticationService.ts
Due: generate, prettier, eslint, typescript, vitest

Update OpenAPI spec (#3)
  .vscode/settings.json
  docker-compose.yaml
  openapi.yaml
  src/generated/index.ts
  src/generated/models/Collection.ts
  src/generated/models/CollectionMultiResponse.ts
  src/generated/models/CollectionRef.ts
  src/generated/models/CollectionResponseMany.ts
  src/generated/models/CollectionResponseOne.ts
  src/generated/models/CreateCollection.ts
  src/generated/models/ErrorResponse.ts
  src/generated/models/Parent.ts
  src/generated/models/RaindropMultiResponse.ts
  src/generated/models/RaindropResponseMany.ts
  src/generated/models/RaindropResponseOne.ts
  src/generated/models/UserConfig.ts
  src/generated/services/AuthenticationService.ts
  src/generated/services/CollectionService.ts
  src/generated/services/FilterService.ts
  src/generated/services/HighlightService.ts
  src/generated/services/ImportService.ts
  src/generated/services/RaindropService.ts
  src/generated/services/TagService.ts
  src/generated/services/UserService.ts
  src/index.ts
Due: generate, prettier, eslint, typescript, vitest

feat: v0.1.3
  package.json
Due: prettier

feat: Default export
  src/index.ts
Due: prettier, eslint, typescript, vitest

feat: v0.2.0
  package.json
Due: prettier

feat: Structured wrapper
  src/client.ts
  src/index.ts
Due: prettier, eslint, typescript, vitest

chore(workspace): `java` is missing
  Dockerfile
Due: none

test(deps-dev): Add **axios-mock-adapter**
  package.json
  pnpm-lock.yaml
Due: prettier
