Repository lasuillard/raindrop-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, prettier, eslint, typescript, vitest

.pre-commit-config.yaml:

exclude: |
  (?x)(
    \.snap$
  )
default_stages: [commit]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: generate
        name: Generate stubs and codes
        language: system
        files: openapi.yaml
        pass_filenames: false
        entry: make generate

      - id: prettier
        name: Format with Prettier
        language: system
        types_or: [javascript, ts, json, yaml]
        entry: pnpm exec prettier
        args: [--write]

      - id: eslint
        name: Lint with ESLint
        language: system
        types_or: [javascript, ts]
        entry: pnpm exec eslint
        args: [--fix]

      - id: typescript
        name: Type check with TypeScript
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: pnpm exec tsc
        args: [--noEmit]

      - id: checkov
        name: Scan using Checkov
        language: system
        types: [file]
        entry: checkov
        args: [-f]

      - id: vitest
        name: Run tests with Vitest
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: pnpm run test

ci: Fix publish error
  .github/workflows/release.yaml
Due: prettier

Revert "ci: Fix publish error"
  .github/workflows/release.yaml
Due: prettier

ci: Fix publish error
  .github/workflows/release.yaml
  package.json
Due: prettier

ci: Fix missing `packages: write` permission
  .github/workflows/release.yaml
Due: prettier

chore(vscode): Migrate deprecated Vitest extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: prettier

ci: Publish to npm
  .github/workflows/release.yaml
Due: prettier

chore(devcontainer): Install pre-commit on attach
  .devcontainer/devcontainer.json
Due: prettier

chore(vscode): Add helpful OpenAPI extension
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: prettier

Publish to npm (#37)
  .github/workflows/release.yaml
Due: prettier

fix: Publish to public
  package.json
Due: prettier

fix: Package version not updated
  package.json
Due: prettier

[ci skip] docs: Add npm badge
  README.md
Due: none

ci: Skip CI on push to main
  .github/workflows/ci.yaml
Due: prettier

[ci skip] chore(vscode): Set Prettier as default formatter
  .vscode/settings.json
Due: prettier

test: Refactor auth API tests with fixtures
  src/client/auth.ts
  tests/_helpers.ts
  tests/client/auth.test.ts
  tsconfig.json
Due: prettier, eslint, typescript, vitest

test: Move out in-source tests, refactoring with fixtures
  src/client/auth.ts
  src/client/client.ts
  src/client/collection.ts
  src/client/index.ts
  src/client/raindrop.ts
  src/index.ts
  src/utils/index.ts
  src/utils/tree.ts
  tests/_helpers.ts
  tests/client/auth.test.ts
  tests/client/client.test.ts
  tests/client/collection.test.ts
  tests/client/raindrop.test.ts
  tests/utils/tree.test.ts
  vite.config.ts
Due: prettier, eslint, typescript, vitest

test: Run schema tests with Schemathesis + Mockoon
  .devcontainer/onCreateCommand.sh
  Makefile
  mockoon/storage/data.json
  package.json
  vite.config.ts
  yarn.lock
Due: prettier, eslint, typescript, vitest

docs: Update `README.md`
  README.md
Due: none

chore(mockoon): Add some data, fixing path component (`{id}` → `:id`)
  mockoon/storage/data.json
Due: prettier

fix: Wrong API path
  openapi.yaml
  src/generated/api.ts
Due: generate, prettier, eslint, typescript, vitest

test: Update some data
  mockoon/storage/data.json
Due: prettier

test: Add more test data
  mockoon/storage/data.json
Due: prettier

test: Add data for raindrop category
  mockoon/storage/data.json
Due: prettier

test: First full dataset (except few) for schema testing
  mockoon/storage/data.json
Due: prettier

test(deps-dev): Add Polly to replace Schemathesis + Mockoon
  package.json
  tests/_helpers.ts
  yarn.lock
Due: prettier, eslint, typescript, vitest

revert: Revert schema testing setup
  .devcontainer/onCreateCommand.sh
  Makefile
  README.md
  mockoon/storage/data.json
  package.json
  vite.config.ts
  yarn.lock
Due: prettier, eslint, typescript, vitest

feat!: Upgrade generator version and option
  openapitools.json
  package.json
  src/generated/.openapi-generator/VERSION
  src/generated/api.ts
  src/generated/base.ts
  src/generated/common.ts
Due: prettier, eslint, typescript, vitest

test: Update test env config
  tests/_helpers.ts
Due: prettier, eslint, typescript, vitest

test: Add sample test
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/991325255_0_1058652062/recording.har
  tests/_helpers.ts
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest

test: Experimental; generate type tests from snapshots
  .gitignore
  package.json
  tests/_helpers.ts
  tests/_type_testing.ts
  tests/generated/collection.test.ts
  tests/setup.ts
  vite.config.ts
Due: prettier, eslint, typescript, vitest

chore: Style config, cleanup, reformat, etc.
  .editorconfig
  Makefile
  tests/__recordings__/991325255_0_1058652062/recording.har
  tests/_type_testing.ts
Due: prettier, eslint, typescript, vitest

test: First working tests
  openapi.yaml
  package.json
  src/client/collection.ts
  src/generated/api.ts
  tests/__recordings__/106385818_0_1288920917/recording.har
  tests/_helpers.ts
  tests/_type_testing.ts
  tests/generated/collection.test.ts
  tests/generated/user.test.ts
  vite.config.ts
  yarn.lock
Due: generate, prettier, eslint, typescript, vitest

chore(deps-dev): Bump deps
  package.json
  yarn.lock
Due: prettier

ci: Publish docs after release published
  .github/workflows/docs.yaml
Due: prettier

test: Test `collection.reorderAllCollections()`
  tests/__recordings__/991325255_1_1075429681/recording.har
  tests/generated/collection.test.ts
Due: prettier, eslint, typescript, vitest

test: Add TODOs
  tests/generated/auth.test.ts
  tests/generated/collection.test.ts
  tests/generated/filter.test.ts
  tests/generated/highlight.test.ts
  tests/generated/import.test.ts
  tests/generated/raindrop.test.ts
  tests/generated/tag.test.ts
  tests/generated/user.test.ts
Due: prettier, eslint, typescript, vitest

test: Test `collection.removeCollections()`
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/991325255_2_1025096824/recording.har
  tests/generated/collection.test.ts
Due: generate, prettier, eslint, typescript, vitest
