Repository lasuillard/raindrop-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate, biome, typescript, vitest

.pre-commit-config.yaml:

exclude: |
  (?x)(
    \.snap$
    | src/generated
  )
default_stages: [commit]
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: generate
        name: Generate stubs and codes
        language: system
        files: openapi.yaml
        pass_filenames: false
        entry: make generate

      - id: biome
        name: Fix with Biome
        language: system
        types_or: [javascript, ts, json, yaml]
        entry: yarn run biome check
        args: [--write]

      - id: typescript
        name: Type check with TypeScript
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: yarn run tsc
        args: [--noEmit]

      - id: vitest
        name: Run tests with Vitest
        language: system
        types_or: [javascript, ts]
        pass_filenames: false
        entry: yarn run test

ci(pre-commit): Revert
  .pre-commit-config.yaml
Due: biome

ci: Disable auto fix
  .github/workflows/ci.yaml
Due: biome

Revert "test: Remove user agent header from recordings"
  tests/_helpers/polly.ts
Due: biome, typescript, vitest

feat: v0.6.0
  package.json
Due: biome

fix: Deduplicate collection source before make tree
  src/client/collection.ts
  tests/__recordings__/collection-getCollectionTree-build-tree-from-groups-and-collections_1641142175/recording.har
  tests/client/collection.test.ts
Due: biome, typescript, vitest

test: Add length check for visits in collection.getCollectionTree
  tests/client/collection.test.ts
Due: biome, typescript, vitest

Fix duplicate collection items in collection tree (#77)
  src/client/collection.ts
  tests/__recordings__/collection-getCollectionTree-build-tree-from-groups-and-collections_1641142175/recording.har
  tests/client/collection.test.ts
Due: biome, typescript, vitest

feat: v0.6.1
  package.json
Due: biome

ci: Update GitHub Actions workflow for Codecov integration
  .github/workflows/ci.yaml
  vite.config.mts
Due: biome, typescript, vitest

Use GitHub OIDC for Codecov actions (#79)
  .github/workflows/ci.yaml
  vite.config.mts
Due: biome, typescript, vitest

Update release.yaml
  .github/workflows/release.yaml
Due: biome

feat: v0.6.2
  package.json
Due: biome

[ci skip] fix(devcontainer): devcontainers-extra/features/pre-commit feature has been removed from registry
  .devcontainer/devcontainer.json
Due: biome

fix: Bump Node version to 20.19.2
  .node-version
Due: none

chore: Pin node version to 20.x instead of patch-level
  .node-version
Due: none

chore: Migrate Biome configuration and check whole codebase
  biome.jsonc
  package.json
  src/client/auth.ts
  src/client/collection.ts
  src/client/raindrop.ts
  tests/_helpers/axios.ts
  tests/_helpers/vitest.ts
  tests/generated/collection.test.ts
  tests/generated/import.test.ts
  tests/generated/raindrop.test.ts
  tests/utils/tree.test.ts
Due: biome, typescript, vitest

feat: New key `duplicates` added to `ImportHTMLBookmarkFileResponseItemCount` schema
  openapi.yaml
  src/generated/api.ts
  tests/__recordings__/importHTMLBookmarkFile_1232788811/recording.har
  tests/__typechecks__/importHTMLBookmarkFile.test-d.ts
Due: generate, biome, typescript, vitest

chore: Update snapshot for uploadFile API
  tests/__recordings__/uploadFile_352009450/recording.har
  tests/__typechecks__/uploadFile.test-d.ts
Due: biome, typescript, vitest

test: Update createCollection helper to fix collections not created properly
  tests/_helpers/raindrop.ts
Due: biome, typescript, vitest

style: Reformat file
  tests/generated/collection.test.ts
Due: biome, typescript, vitest

ci: Split lint and test jobs
  .github/workflows/ci.yaml
Due: biome

fix: Test failures
  tests/__recordings__/importHTMLBookmarkFile_1232788811/recording.har
  tests/__recordings__/uploadCollectionCover_465244107/recording.har
  tests/__recordings__/uploadFile_352009450/recording.har
  tests/__recordings__/uploadRaindropCover_2069052526/recording.har
  tests/__typechecks__/uploadCollectionCover.test-d.ts
  tests/__typechecks__/uploadFile.test-d.ts
  tests/__typechecks__/uploadRaindropCover.test-d.ts
  tests/generated/collection.test.ts
  tests/generated/raindrop.test.ts
Due: biome, typescript, vitest

fix: Do not raise an error on unmatched files when running biome check
  .pre-commit-config.yaml
Due: biome

feat: v0.7.0
  package.json
Due: biome

ci: Use OIDC for publishing package to npm
  .github/workflows/release.yaml
Due: biome

ci: Grant only necessary permissions in workflows
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
Due: biome

Use trusted publishers for publishing package to npm (#102)
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
Due: biome

[ci skip] chore(workspace): Add target `release` to Makefile to create new release easily
  Makefile
Due: none

v0.7.1
  package.json
Due: biome

feat!: Migrate from yarn to npm
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .node-version
  .pre-commit-config.yaml
  Makefile
  README.md
  package-lock.json
  package.json
  tests/_helpers/typechecks.ts
  yarn.lock
Due: biome, typescript, vitest

chore: Remove redundant ignores
  .gitignore
Due: none

fix: Dependency conflicts between vite and @codecov/vite-plugin
  package-lock.json
  package.json
Due: biome

fix: Run `npm audit fix`
  package-lock.json
Due: biome

fix: CLI arguments not passed correctly
  .pre-commit-config.yaml
  Makefile
  package.json
  tests/_helpers/typechecks.ts
Due: biome, typescript, vitest

refactor: Prefer long options for clarity
  package.json
Due: biome
